body {
    font-family: Arial, sans-serif;
    background-color: rebeccapurple;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: #333;
}

p {
    margin: 10px 0;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

i {
    font-style: italic;
}


.booking_link{
    text-align: center;
}