.heart{
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: rebeccapurple;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
}
h1{
    text-align: center;
}
.centered-button{
    text-align: center;
    margin-top: 20px;
}

#book_now {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}